In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("truel.csv")

In [10]:
df

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
0,0.182434,0.287769,0.426943,0.414163,0.356566,0.188186,2,1,1,0.385,0.435,0.870
1,0.182434,0.287769,0.426943,0.414163,0.356566,0.188186,2,1,2,0.475,0.320,0.870
2,0.182434,0.287769,0.426943,0.414163,0.356566,0.188186,2,3,1,0.701,0.326,0.620
3,0.182434,0.287769,0.426943,0.414163,0.356566,0.188186,2,3,2,0.903,0.160,0.602
4,0.182434,0.287769,0.426943,0.414163,0.356566,0.188186,3,1,1,0.270,0.910,0.459
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,0.244959,0.348317,0.412145,0.550634,0.443178,0.391984,2,3,2,0.865,0.143,0.566
7996,0.244959,0.348317,0.412145,0.550634,0.443178,0.391984,3,1,1,0.230,0.851,0.512
7997,0.244959,0.348317,0.412145,0.550634,0.443178,0.391984,3,1,2,0.420,0.617,0.469
7998,0.244959,0.348317,0.412145,0.550634,0.443178,0.391984,3,3,1,0.514,0.800,0.198
7999,0.244959,0.348317,0.412145,0.550634,0.443178,0.391984,3,3,2,0.822,0.533,0.164

In [11]:
equilibria = df.sort_values(["p1_p2_dist", "p1_p3_dist", "p2_p3_dist", "p1_acc", "p2_acc", "p3_acc"])
equilibria = equilibria.groupby(["p1_p2_dist", "p1_p3_dist", "p2_p3_dist", "p1_acc", "p2_acc", "p3_acc"])

In [12]:
equilibria.head(8)

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
4704,0.003866,0.151125,0.150565,0.865927,0.478085,0.187072,2,1,1,0.430,0.190,0.708
4705,0.003866,0.151125,0.150565,0.865927,0.478085,0.187072,2,1,2,0.498,0.129,0.657
4706,0.003866,0.151125,0.150565,0.865927,0.478085,0.187072,2,3,1,0.772,0.100,0.378
4707,0.003866,0.151125,0.150565,0.865927,0.478085,0.187072,2,3,2,0.874,0.058,0.312
4708,0.003866,0.151125,0.150565,0.865927,0.478085,0.187072,3,1,1,0.285,0.729,0.223
...,...,...,...,...,...,...,...,...,...,...,...,...
723,0.614219,0.541734,0.123226,0.777072,0.745125,0.706297,2,3,2,0.943,0.320,0.318
724,0.614219,0.541734,0.123226,0.777072,0.745125,0.706297,3,1,1,0.350,0.736,0.320
725,0.614219,0.541734,0.123226,0.777072,0.745125,0.706297,3,1,2,0.783,0.173,0.653
726,0.614219,0.541734,0.123226,0.777072,0.745125,0.706297,3,3,1,0.716,0.906,0.061
727,0.614219,0.541734,0.123226,0.777072,0.745125,0.706297,3,3,2,0.937,0.390,0.254

In [13]:
new = []
for group in range(len(equilibria)):
    rows = equilibria.get_group((list(equilibria.groups)[group]))
    for row in range(8):
        curr_row = rows.iloc[row]
        if curr_row["p1_survive"] > rows[(rows["p1_target"] != curr_row["p1_target"]) &
                                         (rows["p2_target"] == curr_row["p2_target"]) &
                                         (rows["p3_target"] == curr_row["p3_target"])]["p1_survive"].iloc[0]:
            if curr_row["p2_survive"] > rows[(rows["p1_target"] == curr_row["p1_target"]) &
                                         (rows["p2_target"] != curr_row["p2_target"]) &
                                         (rows["p3_target"] == curr_row["p3_target"])]["p1_survive"].iloc[0]:
                if curr_row["p3_survive"] > rows[(rows["p1_target"] == curr_row["p1_target"]) &
                                         (rows["p2_target"] == curr_row["p2_target"]) &
                                         (rows["p3_target"] != curr_row["p3_target"])]["p1_survive"].iloc[0]:
                    new.append(curr_row)

In [14]:
new

[p1_p2_dist    0.319545
 p1_p3_dist    0.251791
 p2_p3_dist    0.451908
 p1_acc        0.878475
 p2_acc        0.850920
 p3_acc        0.806210
 p1_target     2.000000
 p2_target     1.000000
 p3_target     1.000000
 p1_survive    0.138000
 p2_survive    0.424000
 p3_survive    0.774000
 Name: 2568, dtype: float64]

In [15]:
final = pd.concat(new, axis=1).T

In [129]:
final[final["p1_p2_dist"] < final["p1_p3_dist"]]

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
2908,0.442348,0.550732,0.109143,0.676996,0.670505,0.604477,3.0,1.0,1.0,0.175,0.898,0.439
2909,0.442348,0.550732,0.109143,0.676996,0.670505,0.604477,3.0,1.0,2.0,0.372,0.774,0.335
1234,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,2.0,3.0,1.0,0.295,0.302,0.645
1236,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,3.0,1.0,1.0,0.121,0.854,0.294
1237,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,3.0,1.0,2.0,0.271,0.681,0.236
2861,0.630729,0.778371,0.292995,0.993930,0.959640,0.762987,3.0,1.0,2.0,0.183,0.593,0.132
3082,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,2.0,3.0,1.0,0.158,0.224,0.585
3084,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,3.0,1.0,1.0,0.066,0.883,0.159
3085,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,3.0,1.0,2.0,0.157,0.617,0.140
2876,0.687442,0.723934,0.235206,0.449362,0.380248,0.335203,3.0,1.0,1.0,0.223,0.858,0.435
3256,0.688329,0.756596,0.184920,0.842229,0.792283,0.574116,2.0,1.0,1.0,0.104,0.298,0.855
868,0.806390,0.930118,0.124668,0.618807,0.583507,0.493260,3.0,1.0,1.0,0.104,0.883,0.337

In [9]:
p1 = equilibria["p1_survive"].idxmax()
p1 = p1.rename("best_row")
p2 = equilibria["p2_survive"].idxmax()
p2 = p2.rename("best_row")
p3 = equilibria["p3_survive"].idxmax()
p3 = p3.rename("best_row")

In [10]:
print(p1)

p1_p2_dist  p1_p3_dist  p2_p3_dist  p1_acc    p2_acc    p3_acc
0.018937    0.162379    0.143462    0.519741  0.353610  0.121470      43
0.022998    0.351561    0.342962    0.787060  0.741075  0.305841    1499
0.027225    0.246177    0.225832    0.996931  0.790407  0.557758    2475
0.028107    0.330523    0.332541    0.905358  0.905182  0.508952    1811
0.031700    0.388124    0.419172    0.728720  0.650869  0.297581    2099
                                                                    ...
0.558763    0.423564    0.248868    0.817281  0.718262  0.219615    3723
0.568841    0.283616    0.417785    0.794518  0.489508  0.042661     563
0.582339    0.418234    0.441327    0.907019  0.793020  0.034184    3699
0.585237    0.405004    0.180770    0.917245  0.647201  0.320773     683
0.602957    0.059180    0.555220    0.361921  0.358141  0.020937    2003
Name: best_row, Length: 500, dtype: int64

In [11]:
print(p2)

p1_p2_dist  p1_p3_dist  p2_p3_dist  p1_acc    p2_acc    p3_acc
0.018937    0.162379    0.143462    0.519741  0.353610  0.121470      44
0.022998    0.351561    0.342962    0.787060  0.741075  0.305841    1500
0.027225    0.246177    0.225832    0.996931  0.790407  0.557758    2476
0.028107    0.330523    0.332541    0.905358  0.905182  0.508952    1812
0.031700    0.388124    0.419172    0.728720  0.650869  0.297581    2100
                                                                    ...
0.558763    0.423564    0.248868    0.817281  0.718262  0.219615    3724
0.568841    0.283616    0.417785    0.794518  0.489508  0.042661     564
0.582339    0.418234    0.441327    0.907019  0.793020  0.034184    3700
0.585237    0.405004    0.180770    0.917245  0.647201  0.320773     684
0.602957    0.059180    0.555220    0.361921  0.358141  0.020937    2004
Name: best_row, Length: 500, dtype: int64

In [12]:
pd.merge(p1, p2, how='inner', on='best_row')

Empty DataFrame
Columns: [best_row]
Index: []