In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("truel.csv")

In [4]:
df

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
0,0.438628,0.717486,0.282734,0.850709,0.555722,0.209651,2,1,1,0.339,0.351,0.699
1,0.438628,0.717486,0.282734,0.850709,0.555722,0.209651,2,1,2,0.456,0.270,0.622
2,0.438628,0.717486,0.282734,0.850709,0.555722,0.209651,2,3,1,0.617,0.272,0.375
3,0.438628,0.717486,0.282734,0.850709,0.555722,0.209651,2,3,2,0.859,0.103,0.276
4,0.438628,0.717486,0.282734,0.850709,0.555722,0.209651,3,1,1,0.386,0.809,0.152
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.363581,0.248422,0.564489,0.302780,0.207802,0.122633,2,3,2,0.943,0.315,0.532
3996,0.363581,0.248422,0.564489,0.302780,0.207802,0.122633,3,1,1,0.374,0.917,0.493
3997,0.363581,0.248422,0.564489,0.302780,0.207802,0.122633,3,1,2,0.596,0.599,0.557
3998,0.363581,0.248422,0.564489,0.302780,0.207802,0.122633,3,3,1,0.783,0.898,0.101
3999,0.363581,0.248422,0.564489,0.302780,0.207802,0.122633,3,3,2,0.939,0.630,0.213

In [30]:
equilibria = df.sort_values(["p1_p2_dist", "p1_p3_dist", "p2_p3_dist", "p1_acc", "p2_acc", "p3_acc"])
equilibria = equilibria.groupby(["p1_p2_dist", "p1_p3_dist", "p2_p3_dist", "p1_acc", "p2_acc", "p3_acc"])

In [51]:
equilibria.head(8)

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
168,0.025185,0.356628,0.381205,0.726082,0.277822,0.091280,2,1,1,0.302,0.651,0.877
169,0.025185,0.356628,0.381205,0.726082,0.277822,0.091280,2,1,2,0.857,0.097,0.758
170,0.025185,0.356628,0.381205,0.726082,0.277822,0.091280,2,3,1,0.771,0.842,0.274
171,0.025185,0.356628,0.381205,0.726082,0.277822,0.091280,2,3,2,0.989,0.629,0.237
172,0.025185,0.356628,0.381205,0.726082,0.277822,0.091280,3,1,1,0.848,0.978,0.091
...,...,...,...,...,...,...,...,...,...,...,...,...
747,1.138533,0.477552,0.867657,0.902707,0.640362,0.068363,2,3,2,0.982,0.000,0.269
748,1.138533,0.477552,0.867657,0.902707,0.640362,0.068363,3,1,1,0.048,0.813,0.216
749,1.138533,0.477552,0.867657,0.902707,0.640362,0.068363,3,1,2,0.058,0.773,0.234
750,1.138533,0.477552,0.867657,0.902707,0.640362,0.068363,3,3,1,0.293,0.043,0.005
751,1.138533,0.477552,0.867657,0.902707,0.640362,0.068363,3,3,2,0.314,0.000,0.013

In [113]:
new = []
for group in range(len(equilibria)):
    rows = equilibria.get_group((list(equilibria.groups)[group]))
    for row in range(8):
        curr_row = rows.iloc[row]
        if curr_row["p1_survive"] > rows[(rows["p1_target"] != curr_row["p1_target"]) &
                                         (rows["p2_target"] == curr_row["p2_target"]) &
                                         (rows["p3_target"] == curr_row["p3_target"])]["p1_survive"].iloc[0]:
            if curr_row["p2_survive"] > rows[(rows["p1_target"] == curr_row["p1_target"]) &
                                         (rows["p2_target"] != curr_row["p2_target"]) &
                                         (rows["p3_target"] == curr_row["p3_target"])]["p1_survive"].iloc[0]:
                if curr_row["p3_survive"] > rows[(rows["p1_target"] == curr_row["p1_target"]) &
                                         (rows["p2_target"] == curr_row["p2_target"]) &
                                         (rows["p3_target"] != curr_row["p3_target"])]["p1_survive"].iloc[0]:
                    new.append(curr_row)

In [119]:
final = pd.concat(new, axis=1).T

In [129]:
final[final["p1_p2_dist"] < final["p1_p3_dist"]]

,p1_p2_dist,p1_p3_dist,p2_p3_dist,p1_acc,p2_acc,p3_acc,p1_target,p2_target,p3_target,p1_survive,p2_survive,p3_survive
2908,0.442348,0.550732,0.109143,0.676996,0.670505,0.604477,3.0,1.0,1.0,0.175,0.898,0.439
2909,0.442348,0.550732,0.109143,0.676996,0.670505,0.604477,3.0,1.0,2.0,0.372,0.774,0.335
1234,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,2.0,3.0,1.0,0.295,0.302,0.645
1236,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,3.0,1.0,1.0,0.121,0.854,0.294
1237,0.462037,0.564889,0.109621,0.983241,0.937285,0.708011,3.0,1.0,2.0,0.271,0.681,0.236
2861,0.630729,0.778371,0.292995,0.993930,0.959640,0.762987,3.0,1.0,2.0,0.183,0.593,0.132
3082,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,2.0,3.0,1.0,0.158,0.224,0.585
3084,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,3.0,1.0,1.0,0.066,0.883,0.159
3085,0.642766,0.796545,0.200479,0.975781,0.925335,0.756497,3.0,1.0,2.0,0.157,0.617,0.140
2876,0.687442,0.723934,0.235206,0.449362,0.380248,0.335203,3.0,1.0,1.0,0.223,0.858,0.435
3256,0.688329,0.756596,0.184920,0.842229,0.792283,0.574116,2.0,1.0,1.0,0.104,0.298,0.855
868,0.806390,0.930118,0.124668,0.618807,0.583507,0.493260,3.0,1.0,1.0,0.104,0.883,0.337

In [71]:
p1 = equilibria["p1_survive"].idxmax()
p1 = p1.rename("best_row")
p2 = equilibria["p2_survive"].idxmax()
p2 = p2.rename("best_row")
p3 = equilibria["p3_survive"].idxmax()
p3 = p3.rename("best_row")

In [48]:
print(p1)

p1_p2_dist  p1_p3_dist  p2_p3_dist  p1_acc    p2_acc    p3_acc
0.025185    0.356628    0.381205    0.726082  0.277822  0.091280     175
0.054488    0.679052    0.651406    0.275936  0.151434  0.145050     455
0.056789    0.641964    0.588121    0.994254  0.542764  0.040766    2723
0.057319    0.284606    0.321672    0.971256  0.339787  0.114178    2275
0.068794    0.302610    0.362380    0.797425  0.241565  0.006956    3067
                                                                    ...
1.083205    0.300061    0.999949    0.422741  0.274752  0.274118    3883
1.087093    0.483899    0.625566    0.739575  0.588235  0.027174    2035
1.124860    0.897586    0.283894    0.764160  0.641781  0.280987     235
1.129754    0.450269    0.989060    0.907192  0.591105  0.267651    2411
1.138533    0.477552    0.867657    0.902707  0.640362  0.068363     747
Name: best_row, Length: 500, dtype: int64

In [52]:
print(p2)

p1_p2_dist  p1_p3_dist  p2_p3_dist  p1_acc    p2_acc    p3_acc
0.025185    0.356628    0.381205    0.726082  0.277822  0.091280     172
0.054488    0.679052    0.651406    0.275936  0.151434  0.145050     454
0.056789    0.641964    0.588121    0.994254  0.542764  0.040766    2726
0.057319    0.284606    0.321672    0.971256  0.339787  0.114178    2276
0.068794    0.302610    0.362380    0.797425  0.241565  0.006956    3069
                                                                    ...
1.083205    0.300061    0.999949    0.422741  0.274752  0.274118    3884
1.087093    0.483899    0.625566    0.739575  0.588235  0.027174    2036
1.124860    0.897586    0.283894    0.764160  0.641781  0.280987     236
1.129754    0.450269    0.989060    0.907192  0.591105  0.267651    2412
1.138533    0.477552    0.867657    0.902707  0.640362  0.068363     748
Name: best_row, Length: 500, dtype: int64

In [54]:
pd.merge(p1, p2, how='inner', on='best_row')

Empty DataFrame
Columns: [best_row]
Index: []